.container {
	position: relative;
	@media only screen and (max-width: 1340px) {
		margin: auto 11px;
	}

	.arrow {
		position: absolute;
		top: 50%;
		right: -40px;
		cursor: pointer;
		@media only screen and (max-width: 1370px) {
			display: none;
		}


		&:hover {
			transform: scale(1.1);
		}
	}
}

.film_list-title {
	margin-top: 20px;

	h2 {
		@include sectionTitle;
		@media only screen and (max-width: 767px) {
			font-size: 24px;
			line-height: 29px;
		}
	}

}

.movies-sec {
	margin-top: 50px;
	@media only screen and (max-width: 767px) {
		margin-top: 15px;
	}
}

.cartoons-sec {
	margin-top: 46px;
	@media only screen and (max-width: 767px) {
		margin-top: 15px;
	}
}

.film_list {
	justify-content: flex-start;
	margin-top: 24px;
	position: relative;
	@media only screen and (max-width: 767px) {
		margin-top: 16px;
	}

	.film_card {
		margin-left: 0;
		justify-content: flex-start;
	}
}